<div class="new-post-form">
  <%= form_for @post do |p| %>
    <div><%= p.label :title %></div>
    <div class="title"><%= p.text_field :title %></div>
    <br />
    <div><%= p.label :body %></div>
    <%= p.text_area :body %>
    <br />
    <div>
      <%= p.collection_select(
      :tag_ids, Tag.all, :id, :name, {}, { multiple: true, class: 'chosen-select' }) %>
    </div>
    <br />
    <div><%= p.submit %></div>
  <% end %>
</div>


<script>
$('.chosen-select').chosen( { width: '300px',
                              placeholder_text_multiple: 'Tags'} );
</script>
