<div class="post">
  <h1><%= @post.title %></h1>



  <%= pluralize @post.favourites.count, "favourite" %>



  <h4>
    <%= @post.user&.first_name %> <%= @post.user&.last_name %> &nbsp;| &nbsp;<%= @post.created_at.strftime("%d %b. %Y") %>
  </h4>
  <div class="post-body">
    <p><%= @post.body %></p>
  </div>
</div>

<section class='tag-widget'>
  <h5>Tags</h5>
  <% @post.tags.each do |t| %>
    <%= link_to tag_path(t) do %>
      <span class="tag">
        <%= t.name %>
      </span>
    <% end %>
  <% end %>
</section>

<% if user_signed_in? && can?(:favourite, @post) %>
  <% if @fav.present? %>
    <%= link_to 'ðŸ’” Unfavourite this', post_favourite_path(@post, @fav), method: :delete %>
  <% else %>
    <%= link_to 'â¤ï¸ Favourite this', post_favourites_path(@post), method: :post %>
  <% end %>
<% end %>
<% if can? :manage, @post %>
  <%= link_to 'Edit blog post', edit_post_path(@post) %>
|
  <%= link_to 'Delete blog post', post_path(@post), method: :delete, data: { confirm: 'Do you want to delete?'} %>
<% end %>
