<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<p><%= @post.user.first_name %></p>

<% if can? :manage, @post %>
<%= link_to 'Edit blog post', edit_post_path(@post) %>
|
<%= link_to 'Delete blog post', post_path(@post), method: :delete, data: { confirm: 'Do you want to delete?'} %>
<% end %>

<% unless @post.comments.empty? %>
  <h3>Comments</h3>
  <% @post.comments.each do |p| %>
    <div>
      <h5><%= p.body  %></h5>
    </div>
    <div>
      <p>
        Commented by <%= p.user.first_name %> <%= p.user.last_name %> on <%= p.created_at %>
      </p>
    </div>
    <% if can? :destroy, p %>
      <div>
        <%= link_to 'Delete', post_comment_path(@post, p), method: :delete, data: { confirm: 'You sure you wanna delete this amazing comment??'} %>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <h2>Create a Comment</h2>
  <%= form_for [@post, @comment] do |f| %>
  <div>
      <%= f.label :body %><br />
      <%= f.text_area :body %>
  </div>
    <%= f.submit %>
  <% end %>
<% end %>
